#####################################################################
#   MCU Configuration
#####################################################################

##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify

##--------------------------------------------------------------------
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_160017000E51323532393433-if00
restart_method: command
[include kraken.cfg]
##--------------------------------------------------------------------
##--------------------------------------------------------------------
[mcu nest]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1D0036000750323754343120-if00
# Edit with the serial of Birds' Nest. Use ls /dev/serial/by-id/* to find it.
[include Nest.cfg]
##--------------------------------------------------------------------
##--------------------------------------------------------------------
[mcu EBB36_Printer]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1C0020001950425539383920-if00
[include EBB36_Printer.cfg]