# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
#   X/Y Stepper Settings
#####################################################################
# Motors are LDO 42STH48-2504AH - Rated for 2.5 Amps, 5.5 kg/cm
#####################################################################
##  B Stepper - Left
##  Connected to Motor_1-S1
##  Endstop connected to MIN1
#####################################################################
[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6

rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper

endstop_pin: tmc5160_stepper_x:virtual_endstop
homing_speed: 120
homing_retract_dist: 10
position_min: 0
position_max: 350
position_endstop: 350
use_sensorless_homing: true
homing_positive_dir: true

##  TMC2160 configuration
[tmc5160 stepper_x]
cs_pin: PD6
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 0.800 #Rated 2.5A - 2.5*0.707= 1.7675 - 1.7675*0.6=1.0605
home_current: 0.60
#hold_current: 0.48 
stealthchop_threshold: 0
current_change_dwell_time: 0.2
driver_SGT: 2
##  sensorless homing, plug in jumper on M2-DIAG
diag1_pin: ^!PC15

#####################################################################
##  A Stepper - Right
##  Connected to Motor_2-S2
##  Endstop connected to MIN2
#####################################################################
[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE3

rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper

endstop_pin: tmc5160_stepper_y:virtual_endstop
homing_speed: 120
homing_retract_dist: 10
position_min: -50
position_max: 350
position_endstop: 350
use_sensorless_homing: true
homing_positive_dir: true

##  TMC2160 configuration
[tmc5160 stepper_y]
cs_pin: PD5
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 0.800 #Rated 2.5A - 2.5*0.707= 1.7675 - 1.7675*0.6=1.0605
home_current: 0.60
#hold_current: 0.48 
stealthchop_threshold: 0
current_change_dwell_time: 0.2
driver_SGT: 2
##  sensorless homing, plug in jumper on M2-DIAG
diag1_pin: ^!PF0